<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aprendile Vue js</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		.glyphicon-check , .glyphicon-unchecked{
			cursor: pointer;	
		}
	</style>

</head>
<body>
	<div id="app">
		<h1 v-text="'Hola ' + message"></h1>	

		<h2>{{ message }}</h2>

		<h1 v-show="message.length 	> 3">Hola <span v-text="message"></span></h1>

		<h1 v-if="message.length 	> 3">Hola <span v-text="message"></span></h1>
		<h1 v-else>Por favor otro Kiu!</h1>

		<input type="text" v-model="message">
		<button v-on:click="message = message.split('').reverse().join('')">Invertir</button>
		<button @click="reverse">Invertir 2</button>
		<h1>Lista de Tareas</h1>
		<ul>
			<li v-for= "tarea in tareas" >
				<span v-text="tarea.title"></span>
				<small v-if="tarea.completed">Completa</small>
				<small v-else>Icompleta</small>
			</li>
		</ul>
		<h1>Lista de Tareas 2</h1>
		<ul>
			<h3>Tareas Completas {{ completedTasks }}</h3>
			<h3>Tareas Incompletas {{ incompletedTasks }}</h3>
			<li v-for= "task in tasks" >
				<span v-text="task.title"></span>
				<!-- 1 -->
				<!-- <span @click="task.completed = false" v-if="task.completed" class="glyphicon glyphicon-check"></span>
				<span @click="task.completed = true" v-else class="glyphicon glyphicon-unchecked"></span> -->
				<!-- 2 -->
				<!-- <span @click="task.completed = ! task.completed" 
					v-bind:class="{
						'glyphicon' : true,
						'glyphicon-check' : task.completed,
						'glyphicon-unchecked' : !task.completed
					}">	
				</span> -->
				<!-- 3 -->
				<!-- <span @click="task.completed = ! task.completed" 
					v-bind:class="['glyphicon', task.completed ? 'glyphicon-check' : 'glyphicon-unchecked']">	
				</span> -->
				<!-- 4 -->
				<span @click="completedTask(task)" v-bind:class="taskClases(task)"></span>
			</li>
			<li class="form-inline">
				<input v-on:keyup.enter="addTask" v-model="newTask"type="text" class="form-control">
				<!-- <button @click="addTask" class="btn btn-primary">+</button> -->
			</li>
		</ul>
		<pre>
			<!-- {{ $data }} -->
		</pre>
	</div>
	

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el : "#app",
			data :{
				newTask : "",
				message : "Kiu!",
				tareas 	: [
					{ title :"Laravel",completed:true},
					{ title :"Vue",completed:true},
					{ title :"PHP",completed:false}
				],
				tasks 	: [
					{ title :"Laravel",completed:true},
					{ title :"Vue",completed:true},
					{ title :"PHP",completed:false}
				] 
			},
			methods	 : {
				reverse : function(){
					this.message = this.message.split('').reverse().join('')
				},
				addTask : function(){
					if(this.newTask.length <= 1) return alert("la Tarea no puede estar Vacia!");
					this.tasks.push({
						title :  this.newTask,
						completed : false
					});
					this.newTask = "";	
				},
				taskClases : function(task){
					return ['glyphicon', task.completed ? 'glyphicon-check' : 'glyphicon-unchecked']
				},
				completedTask : function(task){
					return task.completed = ! task.completed
				}
			},
			computed : {
				completedTasks: function(){
					return 	this.tasks.filter(function(task){
						return task.completed;
					}).length;		
				},
				incompletedTasks: function(){
					return 	this.tasks.filter(function(task){
						return ! task.completed;
					}).length;		
				}	
			}
		});

	</script>		

</body>
</html>